{
  "openapi": "3.1.0",
  "info": {
    "title": "Zernio API",
    "version": "1.62.0",
    "description": "API reference for Zernio. Authenticate with a Bearer API key.\nBase URL: https://zernio.com/api\n\nVersioning and deprecation: all endpoints are versioned in the URL path\n(current version: /v1). Breaking changes only ship in a new path version;\nexisting versions keep working. Deprecated operations are marked\n'deprecated: true' in this spec and announced in the changelog\n(https://zernio.com/changelog) before removal.\n\nErrors: every 4xx/5xx response is application/json with a machine-readable\n'code' and a human-readable 'error' message (see the ErrorResponse schema).\n",
    "termsOfService": "https://zernio.com/tos",
    "contact": {
      "name": "Zernio Support",
      "url": "https://zernio.com",
      "email": "support@zernio.com"
    },
    "x-logo": {
      "url": "https://zernio.com/icon.png?v=3"
    },
    "x-long-description": "Zernio is the social media API that replaces 16 integrations. Schedule posts, retrieve analytics,\nmanage DMs, comments, and reviews across X, Instagram, WhatsApp, TikTok, LinkedIn,\nFacebook, YouTube, Threads, Reddit, Pinterest, Bluesky, Telegram, Google Business Profile, Snapchat,\nDiscord, and Slack, all from a single REST API. Run paid ads on Meta (Facebook + Instagram), Google,\nTikTok, LinkedIn, Pinterest, X, and OpenAI from the same account.\n\nConnect Shopify and WordPress as blog accounts to list sites and manage\narticles, drafts, featured images, tags, authors, and native scheduling.\n\nKey features: Unified posting to 16 platforms, ads management on 7 ad networks (via /v1/ads), aggregated analytics, unified inbox (DMs, comments, reviews), webhooks, OAuth connect, queue scheduling, and white-label support for agencies managing unlimited accounts.\n\nSupported posting platforms: X, Instagram, WhatsApp, Facebook, LinkedIn, TikTok, YouTube, Pinterest, Reddit, Bluesky, Threads, Google Business Profile, Telegram, Snapchat, Discord, Slack. Supported ad platforms: Meta Ads, Google Ads, TikTok Ads, LinkedIn Ads, Pinterest Ads, X Ads, OpenAI Ads. Snapchat is a closed beta with no public release date: connections are gated behind approval and return 403 `PLATFORM_BETA_RESTRICTED` until then.\n",
    "x-category": "Social",
    "x-website": "https://zernio.com",
    "x-thumbnail": "https://rapidapi-prod-apis.s3.amazonaws.com/b24d3df5-563c-4a50-9e1e-1ad3eb1fce69.png",
    "x-version-lifecycle": "ACTIVE",
    "x-badges": [
      {
        "name": "social media",
        "value": "social media"
      },
      {
        "name": "scheduling",
        "value": "scheduling"
      },
      {
        "name": "instagram",
        "value": "instagram"
      },
      {
        "name": "tiktok",
        "value": "tiktok"
      },
      {
        "name": "twitter",
        "value": "twitter"
      },
      {
        "name": "linkedin",
        "value": "linkedin"
      },
      {
        "name": "facebook",
        "value": "facebook"
      },
      {
        "name": "youtube",
        "value": "youtube"
      },
      {
        "name": "social media api",
        "value": "social media api"
      },
      {
        "name": "posting",
        "value": "posting"
      }
    ]
  },
  "servers": [
    {
      "url": "https://zernio.com/api",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000/api",
      "description": "Local"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/accounts": {
      "get": {
        "x-resource-group": "accounts",
        "operationId": "listAccounts",
        "tags": [
          "Accounts"
        ],
        "summary": "List accounts",
        "description": "Returns connected accounts. Only includes accounts within the plan limit by default. Follower data requires analytics add-on.\nSupports optional server-side pagination via page/limit params. When omitted, returns all accounts (backward-compatible).\npage and limit must be supplied together; out-of-range page/limit values are rejected with 400 rather than silently clamped.\n",
        "parameters": [
          {
            "name": "profileId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter accounts by profile ID. Must be a valid ObjectId."
          },
          {
            "name": "platform",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter accounts by platform (e.g. \"instagram\", \"twitter\")."
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "connected",
                "disconnected"
              ]
            },
            "description": "Filter accounts by connection status. `connected` returns healthy accounts; `disconnected` returns accounts that need reconnection (per the same reconnection check surfaced in the dashboard). Omit to return accounts in any status. When combined with page/limit, pagination totals reflect the filtered result set.\n"
          },
          {
            "name": "includeOverLimit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "When true, includes accounts from over-limit profiles."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Page number (1-based). Must be provided together with limit to enable server-side pagination; sending only one of the two returns 400. Omit both for all accounts.\n"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "description": "Page size. Must be provided together with page; sending only one of the two returns 400.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Accounts (with optional pagination)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountsListResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "accounts": [
                        {
                          "_id": "64e1...",
                          "platform": "twitter",
                          "profileId": {
                            "_id": "64f0...",
                            "name": "My Brand",
                            "slug": "my-brand"
                          },
                          "username": "@acme",
                          "displayName": "Acme",
                          "profileUrl": "https://x.com/acme",
                          "isActive": true
                        }
                      ],
                      "hasAnalyticsAccess": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "503": {
            "$ref": "#/components/responses/TemporarilyUnavailable"
          }
        }
      }
    },
    "/v1/accounts/{accountId}": {
      "put": {
        "x-resource-group": "accounts",
        "operationId": "updateAccount",
        "tags": [
          "Accounts"
        ],
        "summary": "Update account",
        "description": "Updates a connected account's display name or username override.\n\nFor X accounts on usage-based billing, also accepts an `xCapabilities`\nobject to toggle background API operations that incur X API pass-through costs.\nBoth fields are opt-in (default `false`). When off, no analytics syncs or DM\npolling are performed for that account, and no API call is metered for those\noperations. Publishing and deleting posts are always available regardless of\nthese toggles. Setting `xCapabilities` on a non-X account returns 400.\n",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string"
                  },
                  "displayName": {
                    "type": "string"
                  },
                  "xCapabilities": {
                    "type": "object",
                    "description": "X only. Per-account opt-in toggles for background API\noperations that incur X API pass-through costs. Each call is\nbilled at the X tier rate. Either field can be\nsent independently; omitted fields are unchanged.\n",
                    "properties": {
                      "analytics": {
                        "type": "boolean",
                        "description": "Enable periodic analytics reads (impressions, likes, etc.)\nfor this X account. Each X API call is metered as\n`posts_read` and billed pass-through (~$0.005/call at the\ntime of writing; the actual rate depends on X's pricing tier).\n"
                      },
                      "inbox": {
                        "type": "boolean",
                        "description": "Enable DM polling and inbox sync for this X account. DM\nreads are metered as `dm_event_read` (~$0.010/call) and\nDM sends as `dm_interaction_create` (~$0.015/call), both\nbilled pass-through. DM sends fire only on user-initiated\nactions; reads/polling fire only when this flag is true.\n"
                      }
                    }
                  }
                }
              },
              "example": {
                "displayName": "Acme Corporation Official",
                "xCapabilities": {
                  "analytics": true,
                  "inbox": false
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "username": {
                      "type": "string"
                    },
                    "displayName": {
                      "type": "string"
                    },
                    "xCapabilities": {
                      "type": "object",
                      "description": "Echo of the resulting `xCapabilities` state, returned only\nwhen the request body included an `xCapabilities` object.\n",
                      "properties": {
                        "analytics": {
                          "type": "boolean"
                        },
                        "inbox": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Account updated successfully",
                  "username": "@acmecorp",
                  "displayName": "Acme Corporation Official",
                  "xCapabilities": {
                    "analytics": true,
                    "inbox": false
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (e.g. xCapabilities on a non-X account)"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "x-resource-group": "accounts",
        "operationId": "moveAccountToProfile",
        "tags": [
          "Accounts"
        ],
        "summary": "Move account to another profile",
        "description": "Moves a connected account to a different profile owned by the same\nuser. The target profile must belong to the same user as the account.\n\nFor API keys restricted to specific profiles, BOTH the source account's\ncurrent profile AND the target profile must be in the key's allowed set.\nCalls with a target profile outside the key's scope return 403.\n",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "profileId"
                ],
                "properties": {
                  "profileId": {
                    "type": "string",
                    "description": "Target profile ID (must be a valid ObjectId and owned by the same user as the account)."
                  }
                }
              },
              "example": {
                "profileId": "65f1a2b3c4d5e6f7a8b9c0d1"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account moved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "profileId": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "Account updated successfully",
                  "profileId": "65f1a2b3c4d5e6f7a8b9c0d1"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid profileId"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "API key does not have access to the source account or target profile"
          },
          "404": {
            "description": "Account or target profile not found"
          }
        }
      },
      "delete": {
        "x-resource-group": "accounts",
        "operationId": "deleteAccount",
        "tags": [
          "Accounts"
        ],
        "summary": "Disconnect account",
        "description": "Disconnects and removes a connected account. Repeating the call for an account already disconnected returns 404, the account stays in its 1h grace window and the disconnect is not re-run.",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Disconnected",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "Account disconnected successfully"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/connect/{platform}": {
      "get": {
        "x-resource-group": "accounts",
        "operationId": "getConnectUrl",
        "tags": [
          "Connect"
        ],
        "summary": "Get OAuth connect URL",
        "description": "Initiate an OAuth connection flow. Returns an authUrl to redirect the user to.\nStandard flow: Zernio hosts the selection UI, then redirects to your redirect_url. Headless mode (headless=true): user is redirected to your redirect_url with OAuth data for custom UI. Use the platform-specific selection endpoints to complete.\n\nTikTok: every connection now goes through the TikTok for Business app. One TikTok account per\nprofile, so connecting on a profile that already holds one replaces it. Reconnecting the SAME\naccount keeps it and all of its history; authorizing a DIFFERENT TikTok account takes the slot\nover and permanently deletes the previous account's analytics, inbox and DM history. The two\nare told apart by the `@handle` stored at the last connect, so an account whose handle has\nbeen renamed on TikTok since then reads as a different account. An authorization that leaves\nout a permission the connected account needs changes nothing at all and comes back as\n`missing_tiktok_permissions`; connect again and accept every permission on TikTok's screen.\n",
        "parameters": [
          {
            "name": "platform",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "facebook",
                "instagram",
                "linkedin",
                "twitter",
                "tiktok",
                "youtube",
                "threads",
                "reddit",
                "pinterest",
                "bluesky",
                "googlebusiness",
                "telegram",
                "snapchat",
                "discord",
                "slack",
                "whatsapp"
              ]
            },
            "description": "Social media platform to connect. `snapchat` is a closed beta with no public release date: it returns 403 `PLATFORM_BETA_RESTRICTED` until the account is approved."
          },
          {
            "name": "profileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your Zernio profile ID (get from /v1/profiles). For WhatsApp, a Zernio-provisioned number can only be connected on the profile it was provisioned to; connecting from any other profile is rejected with a 409."
          },
          {
            "name": "redirect_url",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "description": "Your custom redirect URL after connection completes. MUST be an absolute http(s) URL or a custom app scheme for mobile deeplinks (e.g. myapp://callback); a relative path is rejected with 400 INVALID_REDIRECT_URL. Result params are appended with the URL API, so an existing query string is preserved. Standard mode appends connected={platform}&profileId=X&accountId=Y&username=Z. Headless mode appends OAuth data params for platforms requiring selection (e.g. LinkedIn orgs, Facebook pages). If no selection is needed, the account is created directly and the redirect includes accountId.\n\nOn failure, the browser is sent to the same redirect_url with `error` and `platform` appended.\n`error` and `platform` are always present. `error_message`, `is_user_fixable`, `reason` and\n`dashboard_url` are conditional and must be treated as optional.\n\nThis list is NOT exhaustive and new values may be added at any time. Treat an unrecognized\nvalue as a generic failure rather than matching it exhaustively. Existing values are not\nrenamed or removed without notice.\n\nOAuth and callback:\n  oauth_denied, invalid_callback, invalid_state, unsupported_platform, connection_failed,\n  internal_error, token_exchange_failed, byok_config_error, personal_account_not_supported,\n  missing_google_permissions, missing_tiktok_permissions, platform_requires_destination,\n  reconnect_account_mismatch, invalid_request\n\nAccess and limits:\n  profile_not_found, invalid_profile_id, access_denied, account_limit_exceeded,\n  profile_limit_exceeded, payment_required\n\nDestination selection:\n  no_facebook_pages, facebook_pages_error, no_google_locations, google_locations_error,\n  google_permission_denied, no_snapchat_public_profiles, snapchat_profiles_error,\n  discord_no_guild, slack_no_team\n\nWhatsApp:\n  whatsapp_error, one_whatsapp_per_profile, whatsapp_number_already_connected,\n  whatsapp_number_pinned_to_profile, whatsapp_coexistence_not_registered, connection_cancelled\n\nGoogle Ads (platform=googleads):\n  google_ads_auth_failed, google_ads_invalid_state, google_ads_config_error,\n  google_ads_token_failed, google_ads_quota_exhausted, google_ads_callback_error\n\nTikTok Ads (platform=tiktokads):\n  tiktok_ads_auth_failed, tiktok_ads_invalid_state, tiktok_ads_access_denied,\n  tiktok_ads_config_error, tiktok_ads_token_failed, tiktok_ads_account_not_found,\n  tiktok_ads_callback_error\n\nX Ads (platform=xads):\n  x_ads_denied, x_ads_auth_failed, x_ads_config_error, x_ads_account_not_found,\n  x_ads_state_error, x_ads_token_failed, x_ads_token_missing, x_ads_callback_error\n\nShopify (platform=shopify):\n  shopify_auth_failed, shopify_config_error, shopify_invalid_state, shopify_invalid_hmac,\n  shopify_invalid_shop, shopify_missing_scopes, shopify_callback_error\n\n1. On this endpoint every upstream OAuth error is collapsed into `oauth_denied`. The\nprovider's own value (for example Meta's `access_denied`) is not forwarded. The dedicated\nads flows below are different: they use their own denial slugs and `google_ads_auth_failed`\nand `tiktok_ads_auth_failed` may carry the provider's raw error string in `error_message`.\n\n2. On the tiktok and twitter ads flows `platform` carries the ads platform id\n(`tiktokads`, `xads`), not the value used in the request path. The googleads and shopify\nflows report `googleads` and `shopify`.\n\n3. `missing_tiktok_permissions` means the TikTok authorization left out a permission the\nalready-connected account needs, so nothing was changed and it keeps working as before.\nIt is user-fixable: connect again and accept every permission on TikTok's screen.\n"
          },
          {
            "name": "headless",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "When true, the user is redirected to your redirect_url with raw OAuth data (code, state) instead of Zernio's default account selection UI. Use this to build a custom connect experience."
          },
          {
            "name": "loginMethod",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "instagram_login",
                "facebook_login"
              ],
              "default": "instagram_login"
            },
            "description": "Instagram only. Which of the two Instagram connection methods to use. Ignored for every other platform.\n\n`instagram_login` (the default, and what you get if you omit this): the Instagram Login dialog. The user authorizes their Instagram professional account directly, no Facebook Page required.\n\n`facebook_login`: the Facebook Login dialog, i.e. \"Instagram API with Facebook Login\". The user authorizes a Facebook Page that has a linked Instagram professional account, and every API call for that account then runs through the Page. Use this when the customer manages Instagram through a Page and expects the Facebook consent screen. Because the user has to pick which Page to connect, the callback continues at the account-selection step, `/v1/connect/instagram/select-account`.\n\n`facebook_login` supports `headless=true` like the other selection platforms: the callback redirects to your `redirect_url` with `profileId`, `tempToken`, `platform=instagram`, `step=select_account` and `connect_token`, which you pass into the select-account endpoints to finish. The default `instagram_login` has no selection step, so it connects the account directly.\n"
          },
          {
            "name": "onboarding",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "api",
                "business_app"
              ]
            },
            "description": "WhatsApp only. Ignored for every other platform. Controls which screen Meta's Embedded Signup popup shows.\n\nIf omitted, the connection defaults to coexistence (same as `business_app` below), preserving existing behavior for numbers already on the WhatsApp Business app.\n\n`api`: standard Embedded Signup, showing Meta's WABA/number picker. Use this to connect a phone number already on Cloud API elsewhere.\n\n`business_app`: coexistence, i.e. 'Connect existing WhatsApp Business app' (a number shared between Cloud API and the consumer WhatsApp Business app).\n"
          },
          {
            "name": "signup",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "hosted"
              ]
            },
            "description": "WhatsApp only. Rejected with 400 `INVALID_FIELD_VALUE` on any other platform.\n\n`hosted`: `authUrl` points at a Zernio-hosted page on zernio.com instead of Meta's OAuth dialog, and\nthe response carries `authUrl` only (no `state`). That page opens Meta's Embedded Signup popup itself,\nso it learns which WhatsApp Business Account and number the user picked inside the popup and connects\nexactly that one. Use it when your users' Facebook logins manage several WhatsApp accounts: on the\ndefault redirect flow Meta only returns an authorization code, so when that login can see more than\none number the user lands on Zernio's number picker and has to choose again. Nothing to embed on your\nside and no domain setup: send the user to `authUrl`, and they come back to `redirect_url` with the\nsame params as the redirect flow. Success: `connected=whatsapp`, `profileId`, `accountId`, `username`\n(plus `connect_token` for API-key callers). Failure: `error` and `platform=whatsapp`, with the same\nvalues and extras as the redirect flow (`one_whatsapp_per_profile`, `whatsapp_number_already_connected`,\n`whatsapp_number_pinned_to_profile` and `whatsapp_coexistence_not_registered` with `is_user_fixable=true`; `payment_required` with `reason`\nand `dashboard_url`; `whatsapp_error` with `error_message` when Meta reported one), plus two of its own:\n`connection_cancelled` when the popup was closed before finishing (`error_message` carries Meta's last\nreported step or error when there is one) and `session_expired` when the user took longer than the\n60 minute window the hosted page is valid for; restart the flow with a new call in that case.\n`onboarding` is carried through and a pre-verified Zernio-provisioned number is attached like on the\nredirect flow. `headless` has no effect here because there is no selection step left to hand you.\nWhen a previously disconnected account for this profile can simply be re-enabled, this endpoint\nre-enables it and returns the account directly instead of a URL, exactly like the redirect flow.\nThe page shows the same guidance as the Zernio dashboard: a pre-verified Zernio-provisioned number is\ncalled out by name (\"choose it in Meta's list, no code will be asked\"), coexistence and standard signups\nget their explainer video, and a step-by-step follow-along checklist stays visible while Meta's popup is\nopen. Skin it with `brandName`, `primaryColor` and `language` below.\n"
          },
          {
            "name": "brandName",
            "in": "query",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 60
            },
            "description": "Hosted signup page only (`signup=hosted`, WhatsApp): name shown in the page title (\"Connect your WhatsApp number to <brandName>\") instead of Zernio. The Zernio logo stays: the page is co-branded, not white-label. Trimmed; 1 to 60 characters. Rejected with 400 `INVALID_FIELD_VALUE` without `signup=hosted`. Stored on the signup session at issue time, so the page URL cannot change it."
          },
          {
            "name": "primaryColor",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^#[0-9a-fA-F]{6}$"
            },
            "description": "Hosted signup page only (`signup=hosted`, WhatsApp): hex colour (`#RRGGBB`) for the primary button and step accents. Validated server-side; anything else is a 400 `INVALID_FIELD_VALUE`. Rejected without `signup=hosted`."
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "en",
                "es",
                "pt-BR"
              ]
            },
            "description": "Hosted signup page only (`signup=hosted`, WhatsApp): language of the page and its follow-along guide. Explainer videos stay in English. Default `en`. Rejected without `signup=hosted`."
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OAuth authorization URL to redirect user to",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "authUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL to redirect your user to for OAuth authorization"
                    },
                    "state": {
                      "type": "string",
                      "description": "State parameter for security (handled automatically)"
                    }
                  }
                },
                "example": {
                  "authUrl": "https://www.facebook.com/v21.0/dialog/oauth?client_id=...",
                  "state": "user123-profile456-1234567890-https://yourdomain.com/callback"
                }
              }
            }
          },
          "400": {
            "description": "Missing/invalid parameters (e.g., invalid profileId format, or a non-absolute redirect_url)"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "description": "No access to profile, BYOK required for AppSumo X, or Snapchat closed beta (code PLATFORM_BETA_RESTRICTED)"
          },
          "404": {
            "description": "Profile not found"
          }
        }
      },
      "post": {
        "x-resource-group": "accounts",
        "operationId": "handleOAuthCallback",
        "tags": [
          "Connect"
        ],
        "summary": "Complete OAuth callback",
        "description": "Exchange the OAuth authorization code for tokens and connect the account to the specified profile.\n\nFacebook, Google Business Profile, Snapchat and WhatsApp are not accepted here: their account identity is a destination chosen after OAuth, which this single-shot exchange cannot do. Connect them through the redirect flow from `GET /v1/connect/{platform}`, or, for WhatsApp Embedded Signup, through `POST /v1/connect/whatsapp/embedded-signup`.\n",
        "parameters": [
          {
            "name": "platform",
            "in": "path",
            "required": true,
            "description": "Social platform to complete the connect for. Discord, Slack and Telegram are absent because they are\nserved by their own dedicated routes, documented separately.\n",
            "schema": {
              "type": "string",
              "enum": [
                "instagram",
                "twitter",
                "threads",
                "linkedin",
                "youtube",
                "tiktok",
                "reddit",
                "pinterest"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "code",
                  "state",
                  "profileId"
                ],
                "properties": {
                  "code": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  },
                  "profileId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account connected"
          },
          "400": {
            "description": "Invalid params, or the platform requires choosing a destination (code: platform_requires_destination)"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "description": "No access to the profile, or BYOK required for AppSumo X"
          },
          "404": {
            "description": "Profile not found"
          },
          "500": {
            "description": "Internal error while connecting the account"
          },
          "502": {
            "description": "The platform rejected the token exchange (type: platform_error; an upstream 4xx status is forwarded instead of 502)"
          },
          "503": {
            "description": "Connections for this platform are temporarily disabled (code: platform_disabled)"
          }
        }
      }
    },
    "/v1/webhooks/settings": {
      "get": {
        "x-resource-group": "webhooks",
        "operationId": "getWebhookSettings",
        "tags": [
          "Webhooks"
        ],
        "summary": "List webhooks",
        "description": "Retrieve all configured webhooks for the authenticated user. Supports up to 50 webhooks per user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Webhooks retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webhooks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Webhook"
                      }
                    }
                  }
                },
                "example": {
                  "webhooks": [
                    {
                      "_id": "507f1f77bcf86cd799439011",
                      "name": "My Production Webhook",
                      "url": "https://example.com/webhook",
                      "events": [
                        "post.published",
                        "post.failed"
                      ],
                      "isActive": true,
                      "lastFiredAt": "2024-01-15T10:30:00Z",
                      "failureCount": 0
                    },
                    {
                      "_id": "507f1f77bcf86cd799439012",
                      "name": "Slack Notifications",
                      "url": "https://hooks.slack.com/services/xxx",
                      "events": [
                        "post.failed",
                        "account.disconnected"
                      ],
                      "isActive": true,
                      "failureCount": 0
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ResourceGroupForbidden"
          }
        }
      },
      "post": {
        "x-resource-group": "webhooks",
        "operationId": "createWebhookSettings",
        "tags": [
          "Webhooks"
        ],
        "summary": "Create webhook",
        "description": "Create a new webhook configuration. Maximum 50 webhooks per user.\n\n`name`, `url` and `events` are required. `url` must be a valid URL and `events` must contain at least one event. Whitespace is trimmed from `url` before validation.\n\nWebhooks are auto-disabled only once the endpoint has had no successful delivery for 3 days AND has either reached 20 consecutive terminal failures (each one an event that exhausted the full retry ladder) or been failing continuously for 3 days. The owner is emailed; re-enable it with `isActive: true`.\n\nA restricted (zrk_) API key can only subscribe to events whose resource group\nthe key holds; an event outside the key's groups is rejected with 403, so a\nrestricted key can never create a subscription broader than itself.\n\n`disabledResourceGroups` restricts the subscription itself, independently of\nwhich key or session later reads it. Events in a disabled group are dropped\nbefore delivery to this endpoint, on live delivery and on every replay path\n(test fire, redelivery, dead-letter requeue), even if they are listed in\n`events`. Omit it to receive everything in `events`, which is how existing\nsubscriptions behave. A restricted key's own disabled groups are always\nunioned in.\n",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "url",
                  "events"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Webhook name (1-50 characters)",
                    "minLength": 1,
                    "maxLength": 50
                  },
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Webhook endpoint URL (must be a valid URL, whitespace trimmed)"
                  },
                  "secret": {
                    "type": "string",
                    "description": "Secret key for HMAC-SHA256 signature verification"
                  },
                  "events": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "string",
                      "enum": [
                        "post.scheduled",
                        "post.published",
                        "post.failed",
                        "post.partial",
                        "post.cancelled",
                        "post.recycled",
                        "post.platform.published",
                        "post.platform.failed",
                        "post.platform.deleted",
                        "post.tiktok.url_resolved",
                        "post.external.created",
                        "post.external.updated",
                        "post.external.deleted",
                        "account.connected",
                        "account.disconnected",
                        "account.ads.initial_sync_completed",
                        "analytics.synced",
                        "message.received",
                        "conversation.started",
                        "conversation.control_changed",
                        "call.received",
                        "call.ended",
                        "call.failed",
                        "call.permission_request",
                        "message.sent",
                        "message.edited",
                        "message.deleted",
                        "message.delivered",
                        "message.read",
                        "message.failed",
                        "reaction.received",
                        "referral.received",
                        "comment.received",
                        "review.new",
                        "review.updated",
                        "lead.received",
                        "ad.status_changed",
                        "whatsapp.template.status_updated",
                        "whatsapp.template.category_updated",
                        "whatsapp.account.name_status_updated",
                        "whatsapp.automatic_event",
                        "whatsapp.number.activated",
                        "whatsapp.number.declined",
                        "whatsapp.number.action_required",
                        "whatsapp.number.verification_required",
                        "whatsapp.number.suspended",
                        "whatsapp.number.reactivated",
                        "whatsapp.number.released",
                        "whatsapp.number.kyc_submitted",
                        "phone_number.stock_available",
                        "verification.approved",
                        "verification.failed"
                      ]
                    },
                    "description": "Events to subscribe to (at least one required)"
                  },
                  "isActive": {
                    "type": "boolean",
                    "default": true,
                    "description": "Enable or disable webhook delivery. Defaults to `true` when omitted."
                  },
                  "customHeaders": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Custom headers to include in webhook requests"
                  },
                  "disabledResourceGroups": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "publishing",
                        "engagement",
                        "messages",
                        "contacts",
                        "analytics",
                        "ads",
                        "telephony",
                        "accounts",
                        "billing",
                        "webhooks"
                      ]
                    },
                    "description": "Resource groups this subscription does not receive (opt-out denylist). Omit or send an empty array to receive every event in `events`. Listing a group here drops its events before delivery and on every replay path. Set at creation it applies to everything this subscription ever receives; changed later via PUT it applies to events emitted after the change, with a five-minute tail for events already queued (see that operation). When the caller is a restricted (zrk_) key, that key's own disabled groups are unioned into whatever you send here, so a restricted key can never create a subscription wider than itself."
                  }
                }
              },
              "examples": {
                "createWebhook": {
                  "summary": "Create webhook with all events",
                  "value": {
                    "name": "My Production Webhook",
                    "url": "https://example.com/webhook",
                    "secret": "your-secret-key",
                    "events": [
                      "post.scheduled",
                      "post.published",
                      "post.failed",
                      "post.partial",
                      "post.cancelled",
                      "post.recycled",
                      "account.connected",
                      "account.disconnected",
                      "account.ads.initial_sync_completed",
                      "message.received",
                      "message.sent",
                      "message.edited",
                      "message.deleted",
                      "message.delivered",
                      "message.read",
                      "message.failed",
                      "comment.received",
                      "review.new",
                      "review.updated",
                      "ad.status_changed"
                    ],
                    "isActive": true
                  }
                },
                "createWebhookWithoutMessages": {
                  "summary": "Subscription that does not receive direct message payloads",
                  "value": {
                    "name": "Publishing Webhook",
                    "url": "https://example.com/webhook",
                    "events": [
                      "post.published",
                      "post.failed",
                      "comment.received"
                    ],
                    "disabledResourceGroups": [
                      "messages",
                      "contacts"
                    ],
                    "isActive": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "webhook": {
                      "$ref": "#/components/schemas/Webhook"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error or maximum webhooks reached"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ResourceGroupForbidden"
          }
        }
      },
      "put": {
        "x-resource-group": "webhooks",
        "operationId": "updateWebhookSettings",
        "tags": [
          "Webhooks"
        ],
        "summary": "Update webhook",
        "description": "Update an existing webhook configuration. All fields except `webhookId` are optional; only provided fields will be updated. `webhookId` is the same name the other /v1/webhooks operations use (logs, redeliver, test); the deprecated `_id` is still accepted in its place.\n\nWhen provided, `name` must be 1-50 characters, `url` must be a valid URL, and `events` must contain at least one event. Whitespace is trimmed from `url` before validation.\n\nWebhooks are auto-disabled only once the endpoint has had no successful delivery for 3 days AND has either reached 20 consecutive terminal failures (each one an event that exhausted the full retry ladder) or been failing continuously for 3 days. The owner is emailed; re-enable it with `isActive: true`.\n\nA restricted (zrk_) API key can only set `events` to events whose resource\ngroup the key holds; an event outside the key's groups is rejected with 403.\nIt also cannot widen an existing subscription past its own groups.\n\n`disabledResourceGroups` replaces the subscription's own denylist, which\napplies to delivery regardless of which key or session created it. Send an\nempty array to clear it. A restricted key's own disabled groups are unioned\ninto the stored value on every update, so repointing a legacy unrestricted\nsubscription with a restricted key also narrows it.\n\nTiming: the new denylist applies to every event emitted after the update.\nEvents already queued for delivery when the update landed were filtered\nagainst the previous denylist and can still arrive at your endpoint for up\nto five minutes after they were enqueued, because the delivery worker\ntrusts a five-minute enqueue-time snapshot before re-checking the\nsubscription. Retries beyond that window, dead-letter replays, test fires,\nand redeliveries are all checked against the current denylist.\n",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "webhookId": {
                    "type": "string",
                    "description": "Webhook ID to update. Required unless the deprecated `_id` is sent instead."
                  },
                  "_id": {
                    "type": "string",
                    "deprecated": true,
                    "description": "Alias of webhookId, kept for existing callers"
                  },
                  "name": {
                    "type": "string",
                    "description": "Webhook name (1-50 characters). Must be non-empty if provided.",
                    "minLength": 1,
                    "maxLength": 50
                  },
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Webhook endpoint URL (must be a valid URL, whitespace trimmed). Must be a valid URL if provided."
                  },
                  "secret": {
                    "type": "string",
                    "description": "Secret key for HMAC-SHA256 signature verification"
                  },
                  "events": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "string",
                      "enum": [
                        "post.scheduled",
                        "post.published",
                        "post.failed",
                        "post.partial",
                        "post.cancelled",
                        "post.recycled",
                        "post.platform.published",
                        "post.platform.failed",
                        "post.platform.deleted",
                        "post.tiktok.url_resolved",
                        "post.external.created",
                        "post.external.updated",
                        "post.external.deleted",
                        "account.connected",
                        "account.disconnected",
                        "account.ads.initial_sync_completed",
                        "analytics.synced",
                        "message.received",
                        "conversation.started",
                        "conversation.control_changed",
                        "call.received",
                        "call.ended",
                        "call.failed",
                        "call.permission_request",
                        "message.sent",
                        "message.edited",
                        "message.deleted",
                        "message.delivered",
                        "message.read",
                        "message.failed",
                        "reaction.received",
                        "referral.received",
                        "comment.received",
                        "review.new",
                        "review.updated",
                        "lead.received",
                        "ad.status_changed",
                        "whatsapp.template.status_updated",
                        "whatsapp.template.category_updated",
                        "whatsapp.account.name_status_updated",
                        "whatsapp.automatic_event",
                        "whatsapp.number.activated",
                        "whatsapp.number.declined",
                        "whatsapp.number.action_required",
                        "whatsapp.number.verification_required",
                        "whatsapp.number.suspended",
                        "whatsapp.number.reactivated",
                        "whatsapp.number.released",
                        "whatsapp.number.kyc_submitted",
                        "phone_number.stock_available",
                        "verification.approved",
                        "verification.failed"
                      ]
                    },
                    "description": "Events to subscribe to. Must contain at least one event if provided."
                  },
                  "isActive": {
                    "type": "boolean",
                    "description": "Enable or disable webhook delivery"
                  },
                  "customHeaders": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Custom headers to include in webhook requests"
                  },
                  "disabledResourceGroups": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "publishing",
                        "engagement",
                        "messages",
                        "contacts",
                        "analytics",
                        "ads",
                        "telephony",
                        "accounts",
                        "billing",
                        "webhooks"
                      ]
                    },
                    "description": "Replaces the subscription's denylist. Send an empty array to clear it and receive every event in `events` again. Omitting the field leaves the current denylist untouched. Applies to events emitted after the update; already-queued events can still deliver for up to five minutes after they were enqueued. When the caller is a restricted (zrk_) key, that key's own disabled groups are unioned back in either way, so a restricted key can neither clear nor widen a subscription past its own groups."
                  }
                }
              },
              "examples": {
                "updateWebhook": {
                  "summary": "Update webhook URL and events",
                  "value": {
                    "_id": "507f1f77bcf86cd799439011",
                    "url": "https://new-example.com/webhook",
                    "events": [
                      "post.published",
                      "post.failed"
                    ]
                  }
                },
                "toggleWebhook": {
                  "summary": "Enable/disable webhook",
                  "value": {
                    "_id": "507f1f77bcf86cd799439011",
                    "isActive": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "webhook": {
                      "$ref": "#/components/schemas/Webhook"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error or missing webhook ID"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ResourceGroupForbidden"
          },
          "404": {
            "description": "Webhook not found"
          }
        }
      },
      "delete": {
        "x-resource-group": "webhooks",
        "operationId": "deleteWebhookSettings",
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete webhook",
        "description": "Permanently delete a webhook configuration.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "webhookId",
            "in": "query",
            "required": false,
            "description": "Webhook ID to delete, the same name the other /v1/webhooks operations use (logs, redeliver, test). Required unless the deprecated `id` is sent instead.",
            "schema": {
              "type": "string",
              "pattern": "^[a-fA-F0-9]{24}$"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "deprecated": true,
            "description": "Alias of webhookId, kept for existing callers",
            "schema": {
              "type": "string",
              "pattern": "^[a-fA-F0-9]{24}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "webhookId missing or not a valid ID, or a query parameter this endpoint does not know (the message lists the accepted ones; nothing is silently ignored)"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ResourceGroupForbidden"
          }
        }
      }
    },
    "/v1/inbox/conversations": {
      "get": {
        "x-resource-group": "messages",
        "operationId": "listInboxConversations",
        "summary": "List conversations",
        "description": "Fetch conversations (DMs) from all connected messaging accounts in a single API call. Supports filtering by profile and platform. Results are aggregated and deduplicated.\n\nSupported platforms: Facebook, Instagram, X, Bluesky, Reddit, Telegram.\n\n**X limitation.** X has replaced traditional DMs with encrypted \"X Chat\" for many accounts. Messages sent or received through encrypted X Chat are not accessible via X's API (the /2/dm_events endpoint only returns legacy unencrypted DMs). This means some X conversations may show only outgoing messages or appear empty. This is an X platform limitation that affects all third-party applications. See X's docs on encrypted messaging for more details.\n\n**Instagram and Facebook pre-connect history.** When one of these accounts is connected, Zernio replays the DM history the account already holds on Meta, so conversations that began before the account was connected appear here. Up to 500 conversations per account are replayed.\n\n- The replay runs in the background and can finish after a listing you have already taken, and replayed conversations keep their original lastMessageAt, so they sort into date order rather than appearing at the top. If you mirror this endpoint into your own store, re-run the sweep rather than relying on a single pass at connect time.\n- Replayed history emits no webhooks and is stored as already read, so it never affects unread counts.\n- Threads that Meta refuses to serve are skipped, and an account whose Instagram \"connected tools\" message access is turned off is not replayed at all.\n",
        "tags": [
          "Messages"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "profileId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by profile ID"
          },
          {
            "name": "platform",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "facebook",
                "instagram",
                "twitter",
                "bluesky",
                "reddit",
                "telegram",
                "whatsapp",
                "imessage"
              ]
            },
            "description": "Filter by platform"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "archived"
              ]
            },
            "description": "Filter by conversation status"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "Sort order by updated time"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "description": "Maximum number of conversations to return"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination cursor for next page"
          },
          {
            "name": "accountId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by specific account ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Aggregated conversations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Opaque conversation identifier. Pass it back verbatim to any /v1/inbox/conversations/{conversationId} route; do not assume a fixed format."
                          },
                          "platform": {
                            "type": "string"
                          },
                          "accountId": {
                            "type": "string"
                          },
                          "accountUsername": {
                            "type": "string"
                          },
                          "participantId": {
                            "type": "string"
                          },
                          "participantName": {
                            "type": "string"
                          },
                          "participantPicture": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "participantVerifiedType": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "enum": [
                              "blue",
                              "government",
                              "business",
                              "none"
                            ],
                            "description": "X verified badge type. Only present for X conversations."
                          },
                          "lastMessage": {
                            "type": "string"
                          },
                          "updatedTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "active",
                              "archived"
                            ]
                          },
                          "unreadCount": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "description": "Number of unread messages"
                          },
                          "threadControl": {
                            "type": "string",
                            "enum": [
                              "app",
                              "ai_agent",
                              "other"
                            ],
                            "description": "WhatsApp only, present once Meta Business Agent has touched the thread. ai_agent: the agent answers and new inbound arrive flagged metadata.standby; app: you hold control; other: another partner app does. Change it with POST /v1/inbox/conversations/{conversationId}/thread-control."
                          },
                          "isGroup": {
                            "type": "boolean",
                            "description": "iMessage only, true for a group thread. Manage it through the /v1/imessage/groups/{conversationId} endpoints."
                          },
                          "url": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Direct link to open the conversation on the platform (if available)"
                          },
                          "instagramProfile": {
                            "type": [
                              "object",
                              "null"
                            ],
                            "description": "Instagram profile data for the participant. Only present for Instagram conversations.",
                            "properties": {
                              "isFollower": {
                                "type": [
                                  "boolean",
                                  "null"
                                ],
                                "description": "Whether the participant follows your Instagram business account"
                              },
                              "isFollowing": {
                                "type": [
                                  "boolean",
                                  "null"
                                ],
                                "description": "Whether your Instagram business account follows the participant"
                              },
                              "followerCount": {
                                "type": [
                                  "integer",
                                  "null"
                                ],
                                "description": "The participant's follower count on Instagram"
                              },
                              "isVerified": {
                                "type": [
                                  "boolean",
                                  "null"
                                ],
                                "description": "Whether the participant is a verified Instagram user"
                              },
                              "fetchedAt": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "format": "date-time",
                                "description": "When this profile data was last fetched from Instagram"
                              }
                            }
                          },
                          "metadata": {
                            "type": [
                              "object",
                              "null"
                            ],
                            "description": "Click attribution for a conversation that started from a Meta ad or\na ref-tagged ig.me / m.me link. Absent when the conversation did not\noriginate from an attributable click.\n\nCaptured from the referral Meta delivers for the click. If the same\nperson later arrives through a different ad or link, the original\nvalues are kept, so the first referral wins; read the fresh referral\nper click on the `message.received` / `referral.received` webhooks\ninstead. One exception on WhatsApp: when Meta omits `ctwa_clid`\nfrom that referral, a later Meta automatic event can supply it and\nrefresh `ctwa_captured_at`, so treat `ctwa_captured_at` as the time\nZernio stored the value, not the time of the click.\n\nTwo families of keys, one per surface. They never appear together:\n\n  - `ctwa_*` is WhatsApp Click-to-WhatsApp. The ad ID is\n    `ctwa_source_id`. There is no `meta_ad_id` on WhatsApp.\n  - `meta_ad_*` is Instagram Click-to-Direct, Facebook Messenger\n    Click-to-Message, and ig.me / m.me ref links. The ad ID is\n    `meta_ad_id` (ad clicks only; a link capture carries\n    `meta_ad_ref` without it). `ctwa_clid` never appears on these\n    platforms.\n\nEvery key is optional and only the keys Meta supplied are returned, so\nread defensively. Meta does not send a campaign or ad set ID, so none\nis exposed here. More keys may be added over time. Treat any key you\ndo not recognise as an opaque string.\n\nKey names differ from the `message.received` webhook on purpose. The\nwebhook forwards Meta's referral verbatim (`ad_id`, `source`, `type`)\nwhile the stored conversation record uses the prefixed names below.\nRenaming either side would break existing integrations, so both\nspellings are kept.\n",
                            "properties": {
                              "ctwa_clid": {
                                "type": "string",
                                "description": "WhatsApp only. Meta's click identifier, the value to forward to the Meta Conversions API for Business Messaging. Meta omits it on some numbers, so a WhatsApp referral can arrive without it."
                              },
                              "ctwa_source_id": {
                                "type": "string",
                                "description": "WhatsApp only. The Meta ad ID the user clicked. This is the WhatsApp equivalent of meta_ad_id."
                              },
                              "ctwa_source_type": {
                                "type": "string",
                                "description": "WhatsApp only. What the user clicked, as supplied by Meta (for example ad or post)."
                              },
                              "ctwa_source_url": {
                                "type": "string",
                                "description": "WhatsApp only. Meta's URL for the ad that was clicked, normally an fb.me short link."
                              },
                              "ctwa_headline": {
                                "type": "string",
                                "description": "WhatsApp only. Headline of the ad creative at click time."
                              },
                              "ctwa_captured_at": {
                                "type": "string",
                                "format": "date-time",
                                "description": "WhatsApp only. When Zernio stored this referral. Always present when a WhatsApp referral was captured."
                              },
                              "meta_ad_id": {
                                "type": "string",
                                "description": "Instagram and Facebook only. The Meta ad ID the user clicked. Present for ad clicks; absent when the capture came from an ig.me / m.me ref link."
                              },
                              "meta_ad_source": {
                                "type": "string",
                                "description": "Instagram and Facebook only. Meta-supplied source identifier: ADS for ad clicks; SHORTLINK, SHORTLINKS or IGME-SOURCE-LINK for ref links (treat as opaque)."
                              },
                              "meta_ad_type": {
                                "type": "string",
                                "description": "Instagram and Facebook only. Meta-supplied referral type, for example OPEN_THREAD."
                              },
                              "meta_ad_ref": {
                                "type": "string",
                                "description": "Instagram and Facebook only. The ref parameter passed through from the ad creative or the ig.me / m.me link."
                              },
                              "meta_ad_title": {
                                "type": "string",
                                "description": "Instagram and Facebook only. Title of the ad creative at click time."
                              },
                              "meta_ad_photo_url": {
                                "type": "string",
                                "description": "Instagram and Facebook only. Image of the ad creative at click time."
                              },
                              "meta_ad_video_url": {
                                "type": "string",
                                "description": "Instagram and Facebook only. Video of the ad creative at click time."
                              },
                              "meta_ad_post_id": {
                                "type": "string",
                                "description": "Instagram and Facebook only. The organic post the ad promoted, when the ad was a boosted post."
                              },
                              "meta_ad_product_id": {
                                "type": "string",
                                "description": "Instagram and Facebook only. The catalogue product the user clicked, for product ads."
                              },
                              "meta_ad_flow_id": {
                                "type": "string",
                                "description": "Instagram and Facebook only. The Meta flow the ad launched, for flow ads."
                              },
                              "meta_ad_captured_at": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Instagram and Facebook only. When Zernio stored this referral. Always present when an Instagram or Facebook referral was captured."
                              }
                            }
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "hasMore": {
                          "type": "boolean"
                        },
                        "nextCursor": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "accountsQueried": {
                          "type": "integer"
                        },
                        "accountsFailed": {
                          "type": "integer"
                        },
                        "failedAccounts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "accountId": {
                                "type": "string"
                              },
                              "accountUsername": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "platform": {
                                "type": "string"
                              },
                              "error": {
                                "type": "string"
                              },
                              "code": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "Error code if available"
                              },
                              "retryAfter": {
                                "type": [
                                  "integer",
                                  "null"
                                ],
                                "description": "Seconds to wait before retry (rate limits)"
                              }
                            }
                          }
                        },
                        "lastUpdated": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "accountsSkipped": {
                          "type": "array",
                          "description": "Connected accounts that were not queried: their platform does not support this feature, or the account is not enabled for it",
                          "items": {
                            "type": "object",
                            "properties": {
                              "accountId": {
                                "type": "string"
                              },
                              "platform": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Inbox addon required"
          }
        }
      },
      "post": {
        "x-resource-group": "messages",
        "operationId": "createInboxConversation",
        "summary": "Create conversation",
        "description": "Start a direct message conversation with a user. If a conversation with that recipient already exists, the message is added to the existing thread.\n\nSupported platforms: X, Bluesky, Reddit, WhatsApp, SMS, and Slack. Other platforms return PLATFORM_NOT_SUPPORTED.\n\n**Slack.** Pass a workspace member id as participantId (list them with GET /v1/accounts/{accountId}/slack-members). Zernio opens the DM channel with that member and sends the message; the thread then behaves like any other Slack conversation in the inbox. The member must belong to the connected workspace.\n\n**WhatsApp.** This is the endpoint for sending an approved template message to a phone number. Provide templateName, templateLanguage, and templateParams (variable values for the text header, body and dynamic URL buttons, in that order), with the recipient phone in participantId. A template is required because WhatsApp does not permit freeform messages to open a conversation; a missing template returns TEMPLATE_REQUIRED.\n\nBefore sending, Zernio must resolve an exact APPROVED template definition matching both templateName and templateLanguage. If Meta rejects that lookup, or the exact approved definition is absent, Zernio sends no message and returns the canonical platform error instead. Lookup errors use code `platform_api_error`, type `platform_error`, and platform `whatsapp`. Sanitized Meta code, message, and `error_data.details` are returned in `platformError`; `details` identifies `phase: template_lookup`, the query-free endpoint, upstream status, and only safe provider usage or retry headers.\n\n- Templates with media headers (image, video, document) are handled automatically: Zernio reads the approved template definition and fills the header at send time with the template's approved sample asset. To send a DIFFERENT asset per message (e.g. a distinct invoice PDF for each recipient), pass the headerMedia field with a public link (or a Meta media id); it overrides the sample for that send.\n- A template whose approved header format is LOCATION has no header asset to reconstruct at all: Meta only accepts the location at send time, so pass headerLocation (latitude and longitude required) whenever such a template is sent; headerMedia and headerLocation cannot both be supplied.\n- A button that carries its own value at send time (a copy-code button holding a Pix payment code or a coupon, a flow token) is sent with templateButtonParams, addressed by the button's index; templateParams covers text variables and dynamic URL buttons only.\n- CAROUSEL templates take per-card overrides via templateCards, each addressed by the card's card_index, because card body variables restart at {{1}} per card and cannot be expressed in the flat templateParams order.\n- Template fields are accepted on the JSON body only, not on multipart requests.\n\nFor a number you already have a thread with, this sends the template into that thread, which also makes it the way to re-engage a contact after the 24-hour customer-service window has closed. Once the recipient replies (opening the 24h window), send freeform messages with the send-message endpoint (POST /v1/inbox/conversations/{conversationId}/messages).\n\nAlternatively, WhatsApp Business Accounts eligible for Meta Direct Send can open a conversation with a business-initiated utility text message and no template: pass category: 'utility' together with message (and no templateName). See the category field below.\n\n**DM eligibility (X).** Before sending, the endpoint checks if the recipient accepts DMs from your account (via the receives_your_dm field). If not, a 422 error with code DM_NOT_ALLOWED is returned. You can skip this check with skipDmCheck: true if you have already verified eligibility.\n\n**X API tier requirement.** DM write endpoints require X API Pro tier ($5,000/month) or Enterprise access. This applies to BYOK (Bring Your Own Key) users who provide their own X API credentials.\n\n**Rate limits (X only).** X's DM API enforces 200 requests per 15 minutes, 1,000 per 24 hours per connected X account, and 15,000 per 24 hours per X developer app (shared across all DM endpoints). These limits do NOT apply to other platforms. WhatsApp sends are governed by Meta's per-number messaging tiers (unique business-initiated conversations per 24 hours) and per-number throughput instead.\n",
        "tags": [
          "Messages"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accountId"
                ],
                "properties": {
                  "accountId": {
                    "type": "string",
                    "description": "The account ID to send from"
                  },
                  "participantId": {
                    "type": "string",
                    "description": "Recipient identifier. For X this is the numeric user ID; for WhatsApp and SMS, the recipient phone number in international format (digits, country code included); for Slack, the workspace member id (e.g. U01ABCDEF). Provide either this or participantUsername."
                  },
                  "participantUsername": {
                    "type": "string",
                    "description": "Recipient handle/username, an X or Bluesky handle (with or without @) or a Reddit username (with or without u/). Resolved via lookup. Provide either this or participantId."
                  },
                  "message": {
                    "type": "string",
                    "description": "Text content of the message. At least one of message, attachment, or (for WhatsApp) templateName is required. Required when category is set (a Direct Send utility message is a text message)."
                  },
                  "skipDmCheck": {
                    "type": "boolean",
                    "default": false,
                    "description": "X only. Skip the receives_your_dm eligibility check before sending. Use if you have already verified the recipient accepts DMs."
                  },
                  "templateName": {
                    "type": "string",
                    "description": "WhatsApp only. Name of the approved template to start the conversation with. Required for WhatsApp unless category is used instead (Direct Send). Cannot be combined with category."
                  },
                  "category": {
                    "type": "string",
                    "enum": [
                      "utility"
                    ],
                    "description": "WhatsApp only (Meta Direct Send). Combined with message and without templateName, starts the conversation with a business-initiated UTILITY message and no pre-approved template; Meta matches or auto-creates a template asynchronously. The WhatsApp Business Account must be eligible for Direct Send, otherwise the send fails with an error telling you to use an approved message template instead. Cannot be combined with templateName (templates are already categorized at creation). Utility messages only; marketing content is not allowed under this category. Accepted on the JSON body only, not on multipart requests."
                  },
                  "linkPreview": {
                    "type": "boolean",
                    "default": true,
                    "description": "WhatsApp only. Set false to send the Direct Send (category: 'utility') text message without a link-preview thumbnail for the first URL in the text. Defaults to true, which is how every WhatsApp text has been sent to date. Does not apply to template sends. Accepted on the JSON body only, not on multipart requests."
                  },
                  "templateLanguage": {
                    "type": "string",
                    "description": "WhatsApp only. Template language code (e.g. en_US)."
                  },
                  "templateParams": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "WhatsApp only. Template variable values as one flat array, in the order the variables appear across the whole template: text-header variables first, then body variables, then one value per dynamic URL button (in button order). Works with positional placeholders ({{1}}, {{2}}, ...) and with named placeholders ({{name}}, {{company}} - how Meta Business Manager creates templates), where values fill the named slots in order of appearance. Example - a body with {{1}}, {{2}} plus a URL button https://example.com/{{1}} takes three values: [body1, body2, buttonSuffix]. For positional templates the list must cover every slot: supplying fewer values than the template's header + body + dynamic URL-button count is rejected with a 400 (code INVALID_TEMPLATE_PARAMS) naming the expected split, rather than delivering a template whose button URL was filled from the wrong value. A dynamic URL button covered by templateButtonParams needs no value here unless another uncovered dynamic URL button follows it, since the override applies after slot numbering. Media headers (image, video, document) are filled automatically from the approved template and take no value here (use headerMedia to override the header asset per send). Buttons that are not dynamic-URL buttons (copy-code, flow) take no value here either; use templateButtonParams."
                  },
                  "templateButtonParams": {
                    "type": "array",
                    "maxItems": 10,
                    "description": "WhatsApp only. Values for template buttons that carry one at send time, each addressed by the button's position in the approved template. This is the only way to send a copy-code button's payload (a Pix payment code, a coupon) or a flow token, because templateParams is a flat array of text variables and covers dynamic URL buttons only. Supplying a button here overrides whatever templateParams would have derived for that same index, so the send never carries one button twice; repeating an index within this array is rejected with 400. Each index must name a button of the matching kind on the approved template, which is also checked before the send and returns 400 (INVALID_TEMPLATE_BUTTON_PARAM) rather than a Meta rejection.",
                    "items": {
                      "type": "object",
                      "required": [
                        "index",
                        "subType",
                        "value"
                      ],
                      "properties": {
                        "index": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9,
                          "description": "Zero-based position of the button in the approved template's buttons."
                        },
                        "subType": {
                          "type": "string",
                          "enum": [
                            "url",
                            "copy_code",
                            "flow"
                          ],
                          "description": "The button kind, which decides how the value is sent: copy_code sends it as the coupon_code payload, flow as the flow token, url as the dynamic suffix appended to the button's base URL."
                        },
                        "value": {
                          "type": "string",
                          "minLength": 1,
                          "description": "The value to send (e.g. the Pix copy-and-paste code for a copy_code button)."
                        }
                      }
                    }
                  },
                  "templateCards": {
                    "type": "array",
                    "maxItems": 10,
                    "description": "WhatsApp only. Per-card overrides for a CAROUSEL template, each addressed by the card's card_index. Carousel card body variables restart at {{1}} per card, so they cannot be expressed in the flat templateParams slot order; use this instead. A cardIndex naming a card the approved template does not have, a duplicate cardIndex, or a params count that does not match the card body's token count is rejected with 400 (INVALID_TEMPLATE_CARD_PARAM).",
                    "items": {
                      "type": "object",
                      "required": [
                        "cardIndex"
                      ],
                      "properties": {
                        "cardIndex": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9,
                          "description": "The card's card_index in the approved template."
                        },
                        "params": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Values for this card's own body variables, in the card's own {{1}}, {{2}}, ... order (or named-slot order of appearance)."
                        },
                        "headerMedia": {
                          "type": "object",
                          "description": "Overrides this card's header asset for THIS send. Without it, the card's approved sample asset is sent.",
                          "required": [
                            "type"
                          ],
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "image",
                                "video",
                                "document"
                              ],
                              "description": "Must match the card header's media type."
                            },
                            "link": {
                              "type": "string",
                              "description": "Public URL of the asset to send. Must be reachable without auth."
                            },
                            "id": {
                              "type": "string",
                              "description": "A Meta media id (from the media upload endpoint), as an alternative to link."
                            }
                          }
                        },
                        "buttons": {
                          "type": "array",
                          "maxItems": 2,
                          "description": "Values for this card's own buttons, each addressed by the button's index within the card.",
                          "items": {
                            "type": "object",
                            "required": [
                              "index",
                              "subType",
                              "value"
                            ],
                            "properties": {
                              "index": {
                                "type": "integer",
                                "minimum": 0,
                                "maximum": 1,
                                "description": "Zero-based position of the button within the card's buttons."
                              },
                              "subType": {
                                "type": "string",
                                "enum": [
                                  "quick_reply",
                                  "url"
                                ],
                                "description": "The button kind, which decides how the value is sent."
                              },
                              "value": {
                                "type": "string",
                                "minLength": 1,
                                "description": "The value to send (quick_reply payload, or the URL dynamic suffix)."
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "headerMedia": {
                    "type": "object",
                    "description": "WhatsApp only. Overrides a media-header template's header asset for THIS send, so a template with an image/video/document header can carry a different asset per message (e.g. each recipient their own invoice PDF). Without it, the template's approved sample asset is sent. Provide exactly one of link or id.",
                    "required": [
                      "type"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "image",
                          "video",
                          "document"
                        ],
                        "description": "Must match the template header's media type."
                      },
                      "link": {
                        "type": "string",
                        "description": "Public URL of the asset to send. Must be reachable without auth."
                      },
                      "id": {
                        "type": "string",
                        "description": "A Meta media id (from the media upload endpoint), as an alternative to link."
                      },
                      "filename": {
                        "type": "string",
                        "description": "Document display name shown to the recipient (e.g. \"Factura 0001-123.pdf\"). document type only; ignored for image/video."
                      }
                    }
                  },
                  "headerLocation": {
                    "type": "object",
                    "description": "WhatsApp only. Required to send a template whose approved header format is LOCATION: Meta only accepts the location's lat/long at send time, never at template creation, so there is nothing to fill in automatically. Cannot be combined with headerMedia (a template has exactly one header).",
                    "required": [
                      "latitude",
                      "longitude"
                    ],
                    "properties": {
                      "latitude": {
                        "type": "number",
                        "description": "Latitude in decimal degrees."
                      },
                      "longitude": {
                        "type": "number",
                        "description": "Longitude in decimal degrees."
                      },
                      "name": {
                        "type": "string",
                        "description": "Location name shown to the recipient (e.g. a business name)."
                      },
                      "address": {
                        "type": "string",
                        "description": "Location address shown to the recipient."
                      }
                    }
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "accountId"
                ],
                "properties": {
                  "accountId": {
                    "type": "string",
                    "description": "The account ID to send from"
                  },
                  "participantId": {
                    "type": "string",
                    "description": "X numeric user ID of the recipient"
                  },
                  "participantUsername": {
                    "type": "string",
                    "description": "X username (with or without @) of the recipient"
                  },
                  "message": {
                    "type": "string",
                    "description": "Text content of the message"
                  },
[...]
